---
layout: default
---

<section id="intro" class="wrapper ">
    <div class="hero-text">
      <h4 id="hi">I'm Justin</h4>
      <h1>A UI/UX Engineer</h1>
      <p>Currently working as a Software Engineer II for <a href="https://learn.microsoft.com">Microsoft Learn</a>. Passionate about design systems, accessibility and delightful user experiences.</p>
    </div>
    <div class="hero-social-links">
      <h4>ELSEWHERE</h4>
      <ul id="elsewhere">
        <li><a href="mailto:contact@justinmunn.co" class="link">Email</a></li>
        <li><a href="https://github.com/jwmunn" class="link">Github</a></li>
        <li><a href="https://www.linkedin.com/in/jwmunn/" class="link">LinkedIn</a></li>
      </ul>
    </div>
    <div class="hero-image">
      <img class="rellax-uncentered" data-rellax-speed="3" src="images/hp-image.jpg" />
    </div>
    <div id="portfolio-position" class="rellax-uncentered" data-rellax-speed="-5" style="transform: translate3d(0px, 55px, 0px);"><h1 class="section-headline">HEY</h1></div>
  </section>
